<h1 style="margin:20px 0; text-align:center; font-size:20px;">Your aura was approved :)</h1>
<p style="margin:20px 0;">Hey,</p>
<p style="margin:20px 0;">It looks like your aura, <b><%= @aura.name %></b>, has been approved! From this point on, Marketing Technology will work with the designer working on this project to ensure that AR works successfully with this campaign.</p>
<p style="margin:20px 0;">Once the aura has been tested and released, you'll receive an email notifying you that the aura is live. This usually doesn't take too long, but could take as long as two business days depending on Marketing Technology's availability and current workload.</p>
<p style="margin:20px 0;">If you need to expedite this request, please contact <a href="mailto:mktech@communicorp.com" style="color:#2388e0">Marketing Technology</a> as soon as possible so we can evaluate your needs.</p>
