<h1 style="margin:20px 0; text-align:center; font-size:20px;">Your aura has been archived</h1>
<p style="margin:20px 0">Hi there,</p>
<p style="margin: 20px 0;">Your aura, <b><%= @aura.name %></b>, has been archived. Please make sure <%= @aura.customer_name %> is aware that the augmented reality attached to their print piece no longer works. If you need an extension for this AR piece, please contact <a href="mailto:mktech@communicorp.com" style="color:#2388e0">Marketing Technology</a> with any relevant information and we will consider your request.</p>

