<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
  </head>
  <body>
<table cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse;line-height:100%!important;margin:0;padding:0;width:100%!important">
  <tbody>
    <tr>
      <td>
        <table style="border-collapse:collapse;margin:auto;max-width:600px;min-width:320px">
          <tbody>
            <tr>
              <td valign="top" height="20"><div style="min-height:20px;overflow:hidden">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div></td>
            </tr>
            <tr>
              <td valign="top">
                <table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;color:#c0c0c0;font-family:'Helvetica Neue',Arial,sans-serif;font-size:13px;line-height:26px;margin:0 auto 26px;width:100%">
                </table>
              </td>
            </tr>
            <tr>
              <td valign="top" style="padding:0 20px">
                <table cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse;border-radius:3px;color:#545454;font-family:'Helvetica Neue',Arial,sans-serif;font-size:13px;line-height:20px;margin:0 auto;width:100%">
                  <tbody>
                    <tr>
                      <td valign="top">
                        <table cellpadding="0" cellspacing="0" border="0" style="border-collapse:separate;border-radius:3px 3px 0 0;border:1px solid #004988;font-size:1px;height:3px;line-height:3px;width:100%">
                          <tbody>
                            <tr>
                              <td valign="top" style="background:#2388e0;border-top-color:#67a8e1;border-top-style:solid;border-top-width:1px;font-family:'Helvetica Neue',Arial,sans-serif" bgcolor="#2388e0">&nbsp;
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table cellpadding="0" cellspacing="0" border="0" style="border-collapse:separate;border-color:#8c8c8c;border-radius:0 0 3px 3px;border-style:solid;border-width:0 1px 1px;width:100%">
                          <tbody>
                            <tr>
                              <td style="border-radius:0 0 3px 3px;color:#545454;font-family:'Helvetica Neue',Arial,sans-serif;font-size:13px;line-height:20px;overflow:hidden;padding:3px 30px 15px">

                                <%= yield %>

                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse;color:#545454;font-family:'Helvetica Neue',Arial,sans-serif;font-size:13px;line-height:20px;margin:0 auto;max-width:100%;width:100%">
                  <tbody>
                    <tr>
                      <td height="18">&nbsp;</td>
                    </tr>
                    <tr>
                      <td valign="middle" width="30" style="color:#272727">&nbsp;</td>
                      <td width="50" height="40" valign="middle" align="left" style="color:#272727">
                          <%= link_to(image_tag(attachments["tombstone-email-logo.gif"].url, style: "width:40px; height:40px;"), root_path) %>
                      </td>
                      <td style="color:#272727">
                        <b>Tombstone</b>
                        from Communicorp, Inc.
                      </td>
                      <td valign="middle" align="left" style="color:#545454;text-align:right"><%= Time.now.strftime('%d %b %Y') %></td>
                      <td valign="middle" width="30" style="color:#272727">&nbsp;</td>
                    </tr>
                    <tr>
                      <td valign="top" height="6" style="color:#272727;line-height:1px">&nbsp;</td>
                      <td style="color:#272727;line-height:1px">&nbsp;</td>
                      <td style="color:#272727;line-height:1px">&nbsp;</td>
                      <td style="color:#545454;line-height:1px;text-align:right" align="right">&nbsp;</td>
                      <td valign="middle" width="30" style="color:#272727;line-height:1px">&nbsp;</td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td valign="top" height="20">&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

</body>
</html>
